#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Nav {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none     &kp UP    &none      &none  &none
&none  &none  &none  &none  &none  &none    &none  &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none     &none     &none      &none  &none
                     &none  &none  &none    &none  &none     &none
            >;
        };
    };
};
